<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150803512425-g0etic53qmce8979qc7rtst65j7k4b85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150803512425-g0etic53qmce8979qc7rtst65j7k4b85</string>
	<key>API_KEY</key>
	<string>AIzaSyB32cFMw4-1O4f1ilVc6ebUIP_VcMIETlg</string>
	<key>GCM_SENDER_ID</key>
	<string>150803512425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.theone</string>
	<key>PROJECT_ID</key>
	<string>theone-cce7f</string>
	<key>STORAGE_BUCKET</key>
	<string>theone-cce7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:150803512425:ios:8d69ecbb65f9d98d7476f8</string>
</dict>
</plist>
